
<div class="card mb-3">
    <h3 class="card-header">System architecture</h3>
    <br>
    <img src="assets/arch.png" alt="System architecture" width="90%" >
    
    <div class="card-body">
      <p class="card-text">The idea is to have the frontend request a backend to sort a list of numbers, and then play a small animation of the sorting algorithm operations.</p>
      <p class="card-text">Each algorithm will play a different animation, due to its design.</p>
    </div>
    <button type="button" class="btn btn-success btn-playground" routerLink="/sorter"><strong>Take me to the playground!</strong></button>
    <div class="alert alert-dismissible alert-danger">
        <h4>Warning:</h4>
        <strong>In a real system, an HTTP-request to perform a sorting operation should (most likely) never be done. Such an engineering approach is only performed for the purpose of this (small) project. This project goal is to play with HTTP requests and responses. Nevertheless, an argument can be made that we are offloading the work from the endpoint to the server.</strong>
        <p>In summary, this project goal is to showcase the communication between a frontend and backend services and what requests are executed when you pressing certain buttons.</p>
    </div>
</div>