
<div class="card mb-3">
    <h3 class="card-header">System architecture</h3>
    <br>
    <img src="assets/arch.png" alt="System architecture" width="90%" >
    
    <div class="card-body">
      <p class="card-text">The idea is to have the frontend request a backend to sort a list of numbers, and then play a small animation of the sorting algorithm operations.</p>
      <p class="card-text">Each algorithm will play a different animation, due to its design.</p>
    </div>
    <button type="button" class="btn btn-success btn-playground" routerLink="/sorter"><strong>Take me to the playground!</strong></button>
    <div class="alert alert-dismissible alert-danger">
        <h4>Warning:</h4>
        <strong>In a real system, calling a sorting algorithm should (most likely) never be done. This is only for this project and the idea is to play with requests to a backend and offloading the work from the endpoint.</strong>
        <p>In summary, this project goal is to showcase the communication between a frontend and backend services and what requests are executed when you pressing certain buttons.</p>
    </div>
  </div>