<p></p>
<div class="btn-div">
    <button type="step"    class="btn btn-success">Step!</button>
    <div class="btn-divider"></div>
    <button type="sort"    class="btn btn-warning">Sort it!</button>
    <div class="btn-divider"></div>
    <button type="shuffle" class="btn btn-danger">Shuffle!</button>
    <div class="btn-divider"></div>    
</div>
<p></p>
<div class="row">
    <div class="col-sm-8">
        <figure>
            <img src="https://www.bitcoinblockhalf.com/images/bitcoin-inflation-chart.png" alt="Trulli" style="width:100%">
            <figcaption>Fig.1 - Trulli, Puglia, Italy.</figcaption>
        </figure>
    </div>
    <div class="col-sm-4">
        <form>
            <fieldset>
                <!-- list size -->
                <fieldset class="form-group">
                    <label for="customRange1">List size:</label>
                    <input type="range" class="custom-range" id="list_size">
                </fieldset>
                <p></p>
                <!-- Sorting Algorithm -->
                <div class="form-group">
                    <label for="exampleSelect1">Sorting Algorithm:</label>
                    <select class="form-control" id="option_sorting_algo">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <hr>
                <hr>
                <!-- sorting speed -->
                <fieldset class="form-group">
                    <label for="sorting_speed">Sorting Speed:</label>
                    <input type="range" class="custom-range" id="sorting_speed">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" id="useSound" type="checkbox" value="" checked="">
                            Sound (activated)
                        </label>
                    </div>
                </fieldset>
            </fieldset>
        </form>
        <label class="form-check-label">
            <input type="color" id="bars_color" name="favcolor" value="#ff8000">
            Select a color for the array bars
        </label>
        
    </div>


<p></p>
