<br>
<div class="jumbotron">
    <h4 class="display-3">Visual sorter website!</h4>
    <p class="lead">Have you ever seen how a sorting algorthm works?</p>
    <hr class="my-4">
    <p>This website shows how each sorting algorithm works.</p>
    <img class="demo-img" src="assets/demo.png" width="100%" routerLink="/sorter" alt="go to ">
    <strong>You can choose the following algoritms:</strong>
    <ul>
        <li>Selection sort</li>
        <li>Insetion sort</li>
        <li>Quick sort</li>
        <li>Bubble sort</li>
    </ul>
  </div>




